*{
  padding: 0px;
  margin: 0px;
}
.d-p-container {
    /* display: grid;
      grid-template-columns: auto auto; */
    width: 100%;
  }
  .img-fluid-2 {
    height: 500px !important;
    width: 100%;
  }
  .img-fluid {
    height: 250px !important;
    width: 100%;
  }
  .d-p-two-img {
    display: grid;
    grid-template-columns: auto;
  }
  .row .d-p-label {
    text-align: center;
    color: brown;
  }
  .d-p-content {
    font-size: larger;
    text-align: center;
    width: 100%;
  }
  .d-p-video {
    width: 100%;
  }
  .react-player{
    margin: auto auto;
  
  }
  @media screen and (max-width: 600px) {
    .react-player {
      width: 50px;
      
    }
    
  }
  
  .d-p-label-step {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0px;
  }
  .d-p-img-step {
    margin: auto auto;
    width: 400px;
  }
  