.hm-header-menu {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: rgb(217, 206, 206) !important;
  
    top: 0;
    z-index: 100;
    /* overflow: hidden; */
    width: 100%;
  }
  /* .fixlogin{
    z-index: 13;
    position: fixed;
   
  } */
  
  .hm-header-menu .hm-logo img {
    width: 100%;
    text-align: center;
    height: 100px;
  }
  .hm-header-menu .hm-logo {
    margin: auto auto;
  }
  
  .hm-main-header-menu header {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 0px;
    background-color: rgb(217, 206, 206) !important;
    border-bottom: 3px solid black;
  }
  @media only screen and (max-width: 600px) {
    .hm-header-menu {
      display: grid;
      grid-template-columns: auto;
    }
    /* header */
    .hm-main-header-menu header {
      grid-template-columns: auto;
      display: grid;
    }
    /* hết header */
  
    /* contact of header */
    .hm-main-header-menu header .hm-contact {
      display: grid;
      grid-template-columns: auto;
    }
    /* hết contact of header */
    /* register of header */
    .hm-header-menu .hm-main-header-menu head .hm-register-login button {
      text-align: center !important;
      padding: 20px 3px !important;
    }
  
    /* .modal .modal-dialog .modal-content .modal-body .hm-form-login .hm_button_register_clear button{
      margin: 0px 5px;
      width: 40%;
    } */
    /* hết register of header */
    .hm-logo {
      text-align: center;
    }
  }
  .hm-main-header-menu header .hm-contact a {
    font-size: larger;
    text-decoration: none;
    outline: none;
    margin-left: 20px;
    color: rgb(4, 1, 1);
    font-weight: bold;
  }
  .hm-main-header-menu header .hm-contact i {
    font-size: medium;
  }
  .hm-main-header-menu .hm-register-login .hm-register,
  .hm-login {
    background-color: rgb(193, 123, 98);
    float: right;
    color: rgb(16, 4, 4);
    margin-left: 5px;
    font-size: medium;
    border-radius: 25px;
    margin-right: 10px;
    font-weight: bold;
    padding: 8px 10px;
  }
  .hm-main-header-menu .hm-register-login .hm-register:hover,
  .hm-login:hover {
    background-color: brown;
    color: white;
  }
  
  /* ----------menu */
  .navbar-brand {
    font-size: 40px !important;
  }
  .bg-body-tertiary {
    background-color: rgb(217, 206, 206) !important;
    font-weight: bold;
  }
  .nav-item {
  
    margin-left: 40px !important;
    font-size: medium !important;
  }
  .nav-link:hover {
    color: brown !important;
  }
  .style--bs-scroll-height {
    --bs-scroll-height: 100px;
  }
  .navbar-nav .dropdown-menu li .dropdown-item:hover {
    background-color: rgb(217, 206, 206) !important;
  }
  /* form button login */
  .modal-dialog .modal-content .modal-header h1 {
    color: brown;
  }
  .modal-dialog .modal-content .hm-forget-password {
    color: brown;
    font-style: italic;
    text-decoration: none;
    margin-left: 20px;
  }
  .modal-dialog .modal-content span a {
    text-decoration: none;
    color: brown;
  }
  .modal-dialog .modal-content span {
    text-decoration: none;
    margin-bottom: 10px;
  }
  .modal-dialog .modal-content span {
    text-align: center;
    font-style: italic;
  }
  .modal-dialog .modal-content .hm-login-with {
    display: grid;
    grid-template-columns: auto auto;
  }
  .modal-dialog .modal-content .hm-login-with button {
    margin: 10px 40px;
  }
  .hm-form-login {
    display: grid;
    grid-template-columns: 120px auto;
  }
  .modal-body .hm-form-login label,
  input {
    margin-bottom: 10px;
  }
  
  /* button register */
  .hm-modal-footer {
    display: flex;
    justify-content: center;
  }
  .hm-modal-footer a {
    cursor: pointer;
  }
  
  /* --Validate login , register-- */
  .errors {
    color: red;
    font-style: italic;
    font-size: small;
  }
  .h-img-fluid{
    width: 70px;
    height: 100px;
  }