.container h1 {
  text-align: center;
  margin: 30px 0px;
  color: brown;
}

.c-diadiem {
  margin-top: 25px;
}
.c-location {
  width: 100%;
  height: 120px;
  margin-top: 5px;
  background-color: rgb(232, 226, 226);
  position: relative;
  text-align: center;
}
.c-location:hover {
  border: 2px solid red;
}
.c-location:hover .c-diadiem {
  transform: rotate(90deg);
  transition-duration: 0.5s ease-in all;
}
.khung {
  margin-top: 100px;
}
#image {
  background-image: url("../../Img/img-contact/contact.jpg");
  width: 400px;
  height: 120px;
  position: relative;
  left: center;
  animation-name: move_right;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: rotateX(0);
}
@keyframes move_right {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90deg);
  }
}
