.fb-container {
  width: 70%;
  margin: 30px auto;
  border-top-left-radius: 25%;
  border: 3px solid #a52a2a;
  padding: 30px 5px;

  box-shadow: 0px 0px 14px 16px brown;
}
.fb-container h1 {
  text-align: center;
  margin: 30px 0px;
  color: brown;
}
.fb-container .fb-label {
  color: brown;
  font-style: italic;
}
.fb-container .fb-fullname {
  display: grid;
  grid-template-columns: auto auto;
}
.fb-container .fb-fullname input {
  width: 70%;
  border: 2px solid brown;
}
#email {
  border: 2px solid brown;
  width: 35%;
}
.fb-container .fb-type-origami {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.fb-container .fb-type-origami div input {
  width: 20px;
  height: 20px;
}
.fb-container .fb-type-origami div {
  font-size: 20px;
}

.fb-type-origami select {
  width: 70%;
  margin: auto auto;

  border: 2px solid brown;
}

table tbody tr,
thead tr {
  text-align: center;
}
.button {
  width: 20%;

  margin: 25px 50px;
}
